.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: rgb(40, 187, 60,0.5);
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .custom-button:hover {
    background-color: rgba(37, 172, 55, 0.5);
    color: rgb(12, 9, 9);
    border: none;
  }

  .custom-button.google-sign-in{
      background-color: rgb(60, 40, 169);
      color:white;
  }

  .custom-button.google-sign-in:hover {
    background-color:rgb(60, 60, 184);
    color:white;
    border: none;
}