.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: rgb(10, 1, 1);
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 25px;
  }
  .custom-button:hover {
    background-color: rgb(85, 77, 77);
    color: black;
    border: none;
  }

  .custom-button.google-sign-in{
      background-color: blue;
      color:white;
  }

  .custom-button.google-sign-in:hover {
    background-color:rgb(60, 60, 184);
    color:white;
    border: none;
}