.tactics{
    font-family: sans-serif;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.paragraph{
    color: rgba(235, 189, 91, 0.733);
}
 
.picture{
    display: flex;
    align-items: center;
    justify-content: center;
    border: blue;
    border-radius: 20px;
} 