.sign-in{
    width: 35vw;
    display: flex;
    flex-direction: column;
    
}

.sign-in > .title {
    margin: 10px;
}

.small-gap{
    padding: 10px;
}

.sign-in .buttons {
    display: flex;
    justify-content: space-between;
  
    
}