.heroBanner{
    background-position: center;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    justify-content: end;
    color: whitesmoke;
    box-shadow: 0 10px 6px -6px #777;
}

.heroBanner:hover{
    transform: scale(1.05);
}
