.heroBanner{
    background-position: center;
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    justify-content: end;
    color: whitesmoke;
    box-shadow: 0 10px 6px -6px #777;
}

.heroBanner:hover{
    transform: scale(1.05);
}

.heroBanner h1{
    font-size: 30px;
  font-family: "Helvetica Neue", sans-serif;
  
}