.unAuthHome{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
}

.background{
     
    background-color: rgb(104, 133, 62);
    height:80vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../../assets/images/soccer_new_cropped.jpg");
    /* background-color: #201717; */
    background-size: cover;
    background-repeat: no-repeat;
}


.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 30vh;
    font-size: 24px;
    color: #fff;
    
}

.unauth-paragraph{
    font-weight: 400;
    color: white;
}

.football-anatomy-button{
    margin-top: 24px;
    border-radius: 8px;
    background-color: #3182ce;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 16px;
}

.football-anatomy-button:hover{
    background-color: #2573bb;
    cursor: pointer;
}