.footballanatomy{
    display: grid;
    margin: 35px;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    
}

/* .formation{
    grid-column: 1;
    grid-row:2/2;
}

.position{
    grid-column: 2;
    grid-row:2/4;
}

.tactics{
    grid-column: 2;
    grid-row:/4;
} */