/* .container{
    background: linear-gradient(135deg, #4fff, #f605ff);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* .app-wrapper{
    background-color: #fff;
    min-width: 350px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
} */

.signupsuccess{
    height: 70vh;
}

