*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	background-color: #eded;
}
.footer{
	margin-inline: auto;
	max-width: 1280px;
	padding-bottom: 9px;
	padding-top: 9px;
	padding-inline-start: 16px;
	padding-inline-end: 16px;
	background-color: rgb(197, 235, 196);
}

.socialIcons{
	width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-direction: row;
	
}
.icons{
	border: 1px solid white;
	font-size: 24px;
	color: inherit;
	width: 40px;
	height: 40px;
	line-height: 38px;
	display:inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0.8px;
	opacity: 0.75;
} 

.icons:hover{
	opacity: 1;
}

.list{
	margin-top: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;
}

.list li a{
	text-decoration: none;
	opacity: 0.9;
}

.list li{
	display: inline-block;
	padding: 0 15px;
}

.list li a:hover{
	opacity: 1;
}