body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
 
}

.background{
     
     background-color: rgb(104, 133, 62);
     position: absolute;
     height: 100vh;
     width: 100%;
     z-index: -1;
     background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../src/assets/images/soccer.jpg");
     /* background-color: #201717; */
     background-size: cover;
     position: fixed;
     background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}