.auth-container{
    display:flex;
    justify-content: space-between;
    background-color:rgba(230, 238, 233, 0.5);
    padding: 25px;
}

.sign-in-and-sign-up {
    width: 55vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    background-color:rgb(221, 238, 236, 0.8);
    box-shadow: 0px 40px 100px 0px rgba(0,0,0,0.5);
    opacity: 0.96;
    border-radius: 10px;
    margin-left: 20px;
}