.sign-in-and-sign-up {
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    background-color:rgb(200, 243, 200);
    opacity: 1;
    padding: 20px;
    border-radius: 10px;
}